body {
	font-family: $jsloops-font;
	margin: 0px;
	padding: 0px;
	background: $jsloops-bg-color;
	color: $jsloops-fg-color;
}


i.fa {
	&:first-child {
		margin-right: 5px;
	}
	&:last-child {
		margin-right: 0px;
	}
}
