$jsloops-font: "Play" Helvetica Arial sans-serif;
$jsloops-header-height: 50px;
$jsloops-header-element-height: 25px;
$jsloops-panel-width: 250px;

$jsloops-header-bg-color: #3a3b3c;
$jsloops-header-fg-color: #ccc;