

$jsloops-font: "Play" Helvetica Arial sans-serif;


$jsloops-bg-color: #292D2C;
$jsloops-fg-color: #ccc;
$jsloops-border-color: #000;

$jsloops-header-height: 40px;
$jsloops-header-element-height: 25px;

$jsloops-header-bg-color: #cccfd1; // #ccc
$jsloops-header-fg-color: #424C4C;
$jsloops-header-border-color: #656F75;

$jsloops-logo-sign-color: #966b5b;
$jsloops-logo-text-color: #69965B;

$jsloops-panel-width: 200px;
$jsloops-panel-bg-color: #2F3535;
$jsloops-panel-fg-color: #ccc;

/*
$jsloops-bg-color: #333;
$jsloops-fg-color: #ccc;
$jsloops-border-color: #000;

$jsloops-header-height: 40px;
$jsloops-header-element-height: 25px;

$jsloops-header-bg-color: #ccc; // #ccc
$jsloops-header-fg-color: #3a3b3c;

$jsloops-panel-width: 200px;
$jsloops-panel-bg-color: #3a3b3c;
$jsloops-panel-fg-color: #ccc;
*/
$jsloops-sequencer-toolbar-height: 35px;
$jsloops-sequencer-toolbar-el-height: 20px;
$jsloops-sequencer-channel-height: 20px;
$jsloops-sequencer-bar-width: 14px;
