.layout {
	.header {
		position: absolute;
		display: block;
		top: 0px;
		left: 0px;
		right: 0px;
		height: $jsloops-header-height;
		background: $jsloops-header-bg-color;
		color: $jsloops-header-fg-color;
		border-top: 1px solid #777;
		border-bottom: 3px solid #999;
		> * {
			display: block;
			margin: 0px;
			padding: 0px;
			height: $jsloops-header-height;
			line-height: $jsloops-header-height;
			float: left;
			> button {
				margin: 0px 5px;
				padding: 0px;
				height: $jsloops-header-element-height;
				line-height: $jsloops-header-element-height;
				padding: 0px 10px;
				border: 0px;
				cursor: pointer;
				outline: none;
				background: inherit;
				&:hover {
					background: #aaa;
				}

			}
		}
		.logo {
			margin: 0px 20px;
			font-weight: bold;
			font-size: 22px;
		}
		.indicators {
			height: $jsloops-header-height;
			line-height: $jsloops-header-height;
			padding: 0px;
			> * {
				display: inline-block;
				height: $jsloops-header-element-height;
				line-height: $jsloops-header-element-height;
				margin: 0px 5px;
				border-radius: 1px;
			}
			input {
				border: 0px;
				outline: none;
				background: #bbb;
				width: 50px;
				padding: 0px;
				padding-left: 2px;
				margin-top: -1px;
			}
		}
		.controls {
			margin: 0px 20px;
			
			#play.active {
				color: #bd7;
				background: #aaa;
			}
		}
		.file-operations {
			float: right;
			margin: 0px 10px;
		}
	}
}