.layout {
	.workspace {
		.piano-roll {
			left: 10;
			top: 190;
			min-width: 800px;
			min-width: 800px;
			.body {
				height: 280px;
				background: #1a1a1a;
				margin: 5px;
				margin-top: 0px;
				> canvas {
					width: 100%;
					height: 100%;
				}
			}
		}
	}
}