.layout {
	.workspace {
		.piano-roll {
			.view {
				user-select: none;
				background: #1a1a1a;
				margin: 5px;
				margin-top: 0px;
				position: relative;
				> canvas {
					position: absolute;
					top: 0px;
					bottom: 0px;
					left: 0px;
					right: 0px;
					width: 100%;
					height: 100%;
					background: none;
					&.grid {
						z-index: 100;
					}
					&.elements {
						z-index: 101;
					}
					&.selection {
						z-index: 102;
					}
					&.indicators {
						z-index: 103;
					}
					&.interaction {
						z-index: 104;
					}
				}
			}
		}
	}
}