.layout {
	.sequencer {
		position: absolute;
		display: block;
		bottom: 0px;
		left: 0px;
		right: 0px;
		top: $jsloops-header-height;
		background: #333;
		.tracks {
			background: #3a3b3c;
			padding: 10px;
			margin: 40px;
			.track {
				height: 30px;
				line-height: 30px;
				display: block;
				margin: 10px;
				padding: 0px;
				> * {
					display: inline-block;
					height: 30px;
					line-height: 30px;
					margin: 0px;
					margin-right: 10px;
					padding: 0px;
					box-sizing: border-box;
					float: left;
				}
				.track-name {
					color: #ccc;
				}
				.track-note {
					width: 40px;
					border: 0px;
					outline: none;
					background: #999;
					padding: 0px;
					padding-left: 3px;
				}
				.bars {
					.bar {
						display: inline-block;
						background: #454d4f;
						border-radius: 3px;
						width: 20px;
						height: 30px;
						margin: 0px 2px;
						&.selected {
							background: #b8bec1;
						}
						&.current {
							background: #a4aa64;
						}
					}
				}
			}
		}
	}
}