.layout {
	.workspace {
		position: absolute;
		display: block;
		left: $jsloops-panel-width;
		top: $jsloops-header-height+4;
		right: 0px;
		bottom: 0px;
		-webkit-touch-callout: none;
	    -webkit-user-select: none;
		-khtml-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		user-select: none;
		> * {
			position: absolute;
			display: block;
			background: #3a3b3c;
			border: 1px solid $jsloops-border-color;
			min-width: 400px;
			.toolbar {
				color: #aaa;
				width: 100%;
				height: $jsloops-sequencer-toolbar-height;
				line-height: $jsloops-sequencer-toolbar-height;
				> * {
					display: block;
					margin: 0px;
					padding: 0px;
					height: $jsloops-sequencer-toolbar-height;
					line-height: $jsloops-sequencer-toolbar-height;
					float: left;
				}
				.title {
					font-weight: bold;
					font-size: 16px;
					margin: 0px 10px;
				}
				.prefs {
					height: $jsloops-sequencer-toolbar-height;
					line-height: $jsloops-sequencer-toolbar-height;
					> * {
						display: inline-block;
						height: $jsloops-sequencer-toolbar-el-height;
						line-height: $jsloops-sequencer-toolbar-el-height;
						margin: 0px 5px;
						border-radius: 1px;
					}
					input {
						border: 0px;
						outline: none;
						background: #999;
						width: 50px;
						padding: 0px;
						padding-left: 2px;
					}
				}
			}
		}
	}
}