html
	head
		title JSLoops - Music Making App
		link(rel="stylesheet",href="lib/font-awesome/css/font-awesome.css")
		link(rel="stylesheet",href="css/style.css")
	body
		.layout
			.header
				.logo
					i.fa.fa-music
					span JSLoops
				.indicators
					span Bar Count
					input#bar-count(value="32")
					span BPM
					input#bpm(value="120")
				.controls
					button#play
						i.fa.fa-play
					button#stop
						i.fa.fa-stop 
			.sequencer
				.tracks
					.track#track0
						.track-name Track 0
						input.track-note#track0-note(value="C")
						.bars
							.bar.current#track0-bar0
							.bar#track0-bar1
							.bar#track0-bar2
							.bar#track0-bar3
							.bar#track0-bar4
							.bar#track0-bar5
							.bar#track0-bar6
							.bar#track0-bar7


		

		//- libs
		script(src="lib/jquery/dist/jquery.js")
		script(src="lib/lodash/lodash.js")
		script(src="lib/moment/moment.js")
		script(src="lib/audiosynth/audiosynth.js")
		//- app
		script(src="js/synths/sampler.js")
		script(src="js/synths/piano.js")
		script(src="js/init.js")