html
	head
		title JSLoops - Music Making App
		link(rel="stylesheet",href="css/style.css")
	body
		h1 JSLoops - Music Making App


		.sequencer
			.bars#row0
				.bar.current#row0-bar0
				.bar#row0-bar1
				.bar#row0-bar2
				.bar#row0-bar3
				.bar#row0-bar4
				.bar#row0-bar5
				.bar#row0-bar6
				.bar#row0-bar7
			.bars#row1
				.bar.current#row1-bar0
				.bar#row1-bar1
				.bar#row1-bar2
				.bar#row1-bar3
				.bar#row1-bar4
				.bar#row1-bar5
				.bar#row1-bar6
				.bar#row1-bar7
			.bars#row2
				.bar.current#row2-bar0
				.bar#row2-bar1
				.bar#row2-bar2
				.bar#row2-bar3
				.bar#row2-bar4
				.bar#row2-bar5
				.bar#row2-bar6
				.bar#row2-bar7
			.bars#row3
				.bar.current#row3-bar0
				.bar#row3-bar1
				.bar#row3-bar2
				.bar#row3-bar3
				.bar#row3-bar4
				.bar#row3-bar5
				.bar#row3-bar6
				.bar#row3-bar7


		button#play Play

		//- libs
		script(src="lib/jquery.js")
		script(src="lib/lodash.js")
		script(src="lib/moment.js")
		script(src="lib/audiosynth.js")
		//- app
		script(src="js/init.js")