html
	head
		title JSLoops - Music Making App
		link(rel="stylesheets",href="css/style.css")
	body
		h1 JSLoops - Music Making App

		//- libs
		script(src="lib/jquery.js")
		script(src="lib/lodash.js")
		//- app
		script(src="js/init.js")