html
	head
		title JSLoops - Music Making App
		link(rel="stylesheet",href="css/style.css")
	body
		h1 JSLoops - Music Making App


		.sequencer
			.prefs
				| Bar Count
				input#bar-count(value="8")
				| Interval
				input#interval(value="500")
			.tracks
				.track#track0
					.track-name Track 0
					input.track-note#track0-note(value="C")
					.bars
						.bar.current#track0-bar0
						.bar#track0-bar1
						.bar#track0-bar2
						.bar#track0-bar3
						.bar#track0-bar4
						.bar#track0-bar5
						.bar#track0-bar6
						.bar#track0-bar7


		button#play Play

		//- libs
		script(src="lib/jquery.js")
		script(src="lib/lodash.js")
		script(src="lib/moment.js")
		script(src="lib/audiosynth.js")
		//- app
		script(src="js/init.js")